# Files
*.aux
*.synctex.gz
*.out
*.toc
*.nav
*.out
*.log
*.sdf
*.suo
*.pdb
*.snm
*.orig
*.pro.user
*.user
*.json
*.csv
*.png
*.pts
*.dvi
*.bbl
*.blg
*Dissertation_Leon.pdf

#Folders
*/.idea
*/venv
*/src/__pycache__